#groupVisualExtensions( $hierarchy )
#foreach( $item in $hierarchy.roots() )
#set($num = $foreach.count - 1)
#set( $resource = $hierarchy.roots().get($num).rdfNode() )
#setResourceHref( $resource.getURI() )



#if(!$resource.getPropertyValue("skos:narrower"))
	<ul class="cute">
		<li class="subitem1"><a href="$href">#displayName( $hierarchy.roots().get($num) )</a></li>
	</ul>
#else


<li class="item1">

<a href="$href">#displayName( $hierarchy.roots().get($num) )<img class="arrow-img" align="middle" src="$images/downArrowButton.png" alt=""/> </a>
			

<ul class="cute">
			#printNarrower($resource)
			</ul>

		</li>


#end
#end
 
#*

for each item in the vocab ~

if the item does not have a narrower then kid menu item ~

else

concept the item and forEach narrower item use the kid menu



*#


