## TODO, Confirm that dependancies are inherited 

#parse( "partials/overrides.vm" )
#parse( "partials/global-constants.vm" )
#parse( "partials/content-detection.vm" )	


<!DOCTYPE html>
<html>
<head>
<title>SISSVoc | The Linked Data API</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="js/jquery.min.js"></script>
<!--script-->
</head>



## The BODY --- Include all presented data here
<body> 

## Include the Header
#parse( "SiSSVocTopNavBar.vm" )

## Include the Main Body of the site
#parse( "SiSSVocMainBody.vm" )

## The Footer ---->
#parse( "SiSSVocFooter.vm" )

</body>
</html>
