## This template maintains the main body of the page
## It includes a contaner Class to group the data together
## to allow for a decent visual display. Here is where most
## of the work will need to be done. The areas are split in
## to: 1 x Menu, 1 x UnderMenuArea, 2 x clearfix responsive boxes.
## The two boxes are split in to two div classes: ="products" and
## The top one will contain most if not all the items that result
## from the SPARQL endpoint query. 


<!-- Start the body of the page, We will display the items here-->

	<div class="container">

			<div class="shoes-grid">

	   		        <!---->

		   		     <div class="products">
		   		     	
		   		     	  ##Parse the itemslist in to here
					  #parse( "partials/item-setup.vm")
					  ##parse( "partials/debug-context.vm" )

		   		     </div>
		   		     
		   		     <div class="products">

		   		     	<h5 class="latest-product">left side</h5>	
		   		     	<a class="view-all" href="product.html">???<span> </span></a> 		     
		   		     </div>

				<!---->

	   		 </div>   

	<!-- End the container body of the page-->


	   		   <!--THIS CODE BELOW RELATES TO THE MENU-->
			   <div class="sub-cate">
				<div class=" top-nav rsidebar span_1_of_left">
					<h3 class="cate">CONCEPTS</h3>
		 <ul class="menu">
		<li class="item1"><a href="#">CONCEPT 1<img class="arrow-img" src="images/arrow1.png" alt=""/> </a>
			<ul class="cute">
				<li class="subitem1"><a href="product.html">One </a></li>
				<li class="subitem2"><a href="product.html">Two </a></li>
				<li class="subitem3"><a href="product.html">Three </a></li>
			</ul>
		</li>
		<li class="item2"><a href="#">CONCEPT 2<img class="arrow-img " src="images/arrow1.png" alt=""/></a>
			<ul class="cute">
				<li class="subitem1"><a href="product.html">4 </a></li>
				<li class="subitem2"><a href="product.html">5 </a></li>
				<li class="subitem3"><a href="product.html">six </a></li>
			</ul>
		</li>
		<li class="item3"><a href="#">CONCEPT 3<img class="arrow-img img-arrow" src="images/arrow1.png" alt=""/> </a>
			<ul class="cute">
				<li class="subitem1"><a href="product.html">Cute Kittens </a></li>
				<li class="subitem2"><a href="product.html">Strange Stuff </a></li>
				<li class="subitem3"><a href="product.html">Automatic Fails</a></li>
			</ul>
		</li>
		<li class="item4"><a href="#">CONCEPT 4<img class="arrow-img img-left-arrow" src="images/arrow1.png" alt=""/></a>
			<ul class="cute">
				<li class="subitem1"><a href="product.html">Cute Kittens </a></li>
				<li class="subitem2"><a href="product.html">Strange Stuff </a></li>
				<li class="subitem3"><a href="product.html">Automatic Fails </a></li>
			</ul>
		</li>
				<li>
			<ul class="kid-menu">
				<li><a href="product.html">Single</a></li>
				<li ><a href="product.html">Double</a></li>
				<li ><a href="product.html">Triple</a></li>
			</ul>
		</li>
		<ul class="kid-menu ">
				<li><a href="product.html">Blah</a></li>
				<li ><a href="product.html">Blah</a></li>
				<li><a href="product.html">Blah</a></li>
				<li><a href="product.html">Blah</a></li>
				<li ><a href="product.html">Blah</a></li>
				<li><a href="product.html">Face Blah</a></li>
				<li class="menu-kid-left"><a href="index.html">Contact us</a></li>
			</ul>
	</ul>
					</div>
				<!--initiate accordion (THE JAVASCRIPT THAT ALLOWS DROP DOWN OF THINGS-->

## WILL NOT BE PARSED DUE TO JAVASCRIPT CONTAINING DOLLAR SIGNS --- START
#[[
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
]]#
## WILL NOT BE PARSED DUE TO JAVASCRIPT CONTAINING DOLLAR SIGNS --- END

					<div class=" chain-grid menu-chain">
	   		     		
	   		     	</div>
##TODO ---- TEST The best way to call the sparql endpoint
	   		     	 <a class="view-all all-product" href="product.html">Sparql endpoint Link #parse( "qonsole.vm" )<span> </span></a> 	
			</div>
	   		    <div class="clearfix"> </div>        	         
		</div>
	
	
	<!--End the real body of the page, that is the content and the menu to the left-->
